@import url('https://fonts.googleapis.com/css2?family=Fasthand&display=swap');

/** Body */
body {
    background-color: #000000;
    opacity: 0.8;
    background-image: radial-gradient(#AA96DA 0.5px, transparent 0.5px), radial-gradient(#444cf7 0.5px, #fff 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

/** Navbar */
.navbar .navbar-brand {
    font-family: 'Fasthand', cursive;
    font-size: 30px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navbar {
    background-color: #DCD6F7;
    border: 5px solid #AA96DA;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), inset 0 1px 10px rgba(255, 255, 255, 1);
    border-radius: 10px;
}

/* --------------- Home Page --------------------- */
.welcome {
    background: rgba(170, 150, 218, 0.15);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(6.6px);
    -webkit-backdrop-filter: blur(6.6px);
    border: 1px solid rgba(170, 150, 218, 0.93);
}

.table>:not(caption)>*>* {
    background-color: transparent;
}

/** ------------------------ Sorting Page ------------------------- */
.accordion-button:not(.collapsed) {
    /* Overwrite Bootstrap css */
    background-color: #DCD6F7;
}

#arr-data>div,
#arr-data1>div {
    position: relative;
    border-radius: 10px;
    width: 60px;
    height: 60px;
    font-size: 22px;
    padding: 12px 0;
    color: #fff;
    border: 2px solid #AA96DA;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2), inset 0 1px 10px rgba(0, 0, 0, .2);
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* Sort Button */
.my-btn {
    background-color: #DCD6F7;
    border: .5px solid #AA96DA;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2), inset 0 0px 10px rgba(0, 0, 0, .2);
    color: #fff;
    font-size: 20px;
    padding: 20px 80px;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 1s linear;
}

.my-btn:hover {
    transform: scale(1.05);
    transition: transform 1s linear;
}

/* Display Mid under the Array Element */
.mid::after {
    content: "Mid";
    position: absolute;
    top: -25px;
    left: 15px;
    font-weight: 400;
    font-size: 14px;
    color: #000;
}

/* Show the changing animation */
.animation {
    background-color: #DCD6F7;
    transform: translateY(0);
    transition: background-color 0.5s ease, transform 0.5s ease;
}

.animation.show {
    background-color: #F6F6F6;
    color: #FFC7C7;
    transition: background-color 0.5s ease;
}

/* When create new array in Merge Sort */
.temp-arr {
    transform: translateY(148px);
    transition: transform 1.5s linear;
}

.temp-arr.t-show {
    /* Show animation at the beginning */
    transform: translateY(0);
    transition: transform 1.5s linear;
}

/* seperator will move the Array element up to  distinguish in quick sort */
.seperator {
    transform: translateY(-100px);
    transition: transform 0.5s ease;
}

/* Display Pivot under the Array Element */
.pivot::after {
    content: "Pivot";
    position: absolute;
    top: -25px;
    left: 13px;
    font-size: 14px;
    font-weight: 400;
    color: #000;
}

/* Display the pointer i and j respectively using arrow */
.arrow:before {
    content: "↑";
    color: #AA96DA;
    position: absolute;
    font-size: 30px;
    left: 22.5px;
    top: 52px;
}

/* @media (max-width: 768px) {

    #col-6,
    #col-7,
    #col-8,
    #col-9,
    #col-10 {
        display: none;
        
    }

    #arr-data>div,
    #arr-data1>div {
        width: 50px;
        height: 50px;
        font-size: 14px;
    }

    .my-btn {
        padding: 10px 20px;
        font-size: 12px;
    }

    .arrow:before{
        left: 20px;
        top: 45px;
        font-size: 25px;
    }

    .pivot::after{
        font-size: 12px;
        top: -20px;
    }

    .mid::after {
        left: 12px;
        font-size: 12px;
        top: -20px;
    }

    .temp-arr {
        transform: translateY(138px);
        transition: transform 1.5s linear;
    }
} */

.col-1 {
    /* Overwrite Bootstrap css */
    margin: 20px 5px;
}